.team {
  width: 100%;
  background: #f5f3f0;
  display: flex;
  justify-content: center;

  &__container {
    width: 1180px;
    padding-top: 130px;
    padding-bottom: 120px;
    margin: 0 auto;
  }

  &__title {
    font-family: "GT Eesti Pro Display";
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #1c1b1a;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-family: "GT Eesti Pro Display";
    font-weight: 100;
    font-size: 20px;
    line-height: 150%;
    width: 780px;
    margin: 0 auto 80px auto;
    text-align: center;
    color: #1c1b1a;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 60px 20px;
    justify-items: center;
  }

  &__item {
    text-align: center;
    width: 130px;
  }

  &__photo {
    width: 130px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__name {
    font-family: "GT Eesti Pro Display";
    font-weight: 100;
    font-size: 14px;
    line-height: 150%;
    color: #1c1b1a;
    margin-bottom: 5px;
    margin-top: 0;
  }

  &__role {
    font-family: "GT Eesti Pro Display";
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #1c1b1a;
    margin-top: 0;
  }
}

/* ——— Мобильная адаптация ——— */

@media (max-width: 768px) {
  .team__container {
    width: calc(100% - 40px);
    padding-top: 100px;
  }

  .team__title {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .team__subtitle {
    width: 100%;
    font-size: 16px;
    margin-bottom: 80px;
  }

  .team__grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* горизонтальный скролл */
    gap: 20px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch; /* плавный scroll на iOS */

    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0px;
    padding-right: 20px;
  }

  .team__item:first-child {
    padding-left: 20px;
  }

  .team__grid::-webkit-scrollbar {
    display: none; /* скрываем полосу прокрутки */
  }

  .team__item {
    scroll-snap-align: start;
    flex: 0 0 auto; /* фиксированная ширина карточки */
    width: 130px; /* как в макете */
    text-align: center;
  }

  .team__photo {
    width: 130px;
    height: 150px; /* сохраняем оригинальный размер */
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 0;
  }

  .team__name {
    font-size: 14px; /* как в макете */
    line-height: 150%;
  }

  .team__role {
    font-size: 12px; /* как в макете */
    line-height: 150%;
  }
}
