.approach {
  background-color: #f5f3f0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #1c1b1a;

  &__container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
  }

  /* Заголовок */
  &__title {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    margin-top: 120px;
    margin-bottom: 30px;
  }

  /* Текст под заголовком */
  &__text {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 150%;
    margin: 0 auto 50px auto;
    width: 600px;
  }

  /* Сетка карточек */
  &__grid {
    width: 1180px;
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    margin: 0 auto 160px auto;
  }

  /* Карточка */
  &__card {
    width: 575px;
    height: 100px;
    background: rgba(196, 127, 217, 0.75);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.5),
      inset -4px -10px 10px rgba(0, 0, 0, 0.15);
    transition: background 0.3s ease, transform 0.3s ease;

    &:hover {
      background: rgba(186, 217, 128, 0.85);
      transform: translateY(-4px);
    }
  }

  &__icon {
    width: auto;
    height: 40px;
    object-fit: contain;
    margin-right: 30px;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__card-title {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    margin: 0 0 4px 0;
  }

  &__card-text {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
  }
}

@media (max-width: 768px) {
  .approach {
    &__container {
      width: calc(100% - 40px);
    }

    &__title {
      font-size: 28px;
    }

    &__text {
      width: 100%;
      font-size: 14px;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
    }

    &__card {
      width: 100%;
      height: 90px;
      padding: 20px;
    }

    &__icon {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }

    &__card-title {
      font-size: 16px;
    }

    &__card-text {
      font-size: 12px;
    }
  }
}
