.ecommerce {
  background-color: #1c1b1a;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #f5f3f0;

  &__container {
    width: 1280px;
    margin: 0 auto;
  }

  /* Заголовок и линия справа */
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  &__title {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 48px;
    line-height: 150%;
    color: #f5f3f0;
    margin: 0 0 0 50px;

    .ecommerce__highlight {
      font-weight: 500;
    }
  }

  &__line {
    width: 202px;
    height: 1px;
    background-color: #f5f3f0;
    margin-right: 50px;
  }

  /* Контент: текст и изображение */
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 100px;
  }

  &__text {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    width: 575px;
    height: 391px; /* как в макете */
    color: #f5f3f0;
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 80px;
  }

  &__link,
  a {
    color: #c47fd9;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
    transition: color 0.5s ease;

    &:hover {
      color: #bad980;
    }
  }

  &__image {
    height: 391px;
    width: auto;
    object-fit: contain;
  }

  &__image2 {
    display: none;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px 0;
}

.content__image1 {
  margin-right: 42px;
}

.content__image2 {
  margin-right: 40px;
}

.content__image3 {
  margin-right: 0;
}

.content__image4 {
  margin-right: 45px;
}

.content__image5 {
  margin-right: 38px;
}

.content__image6 {
  margin-right: 0;
}

@media (max-width: 1280px) {
  .content {
    &__image3-l {
      display: none;
    }

    &__image6-l {
      display: none;
    }
  }
}

@media (min-width: 1281px) {
  .content {
    &__image3 {
      display: none;
    }

    &__image6 {
      display: none;
    }

    &__image3-l {
      width: 391px;
      height: auto;
      display: block;
    }

    &__image6-l {
      width: 391px;
      height: auto;
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .ecommerce {
    &__text {
      margin-bottom: 40px;
    }

    &__content {
      gap: 0 !important;
    }
  }

  .content-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 14px;
  }

  /* Первая строка — 1, 2, 3-l */
  .content__image1 {
    width: 90px !important;
    height: 120px !important;
    order: 1;
    margin: 0;
  }

  .content__image2 {
    width: 88px !important;
    height: 120px !important;
    order: 2;
    margin: 0;
  }

  .content__image3-l {
    width: 154px !important;
    height: 120px !important;
    order: 3;
    display: block;
  }

  /* Вторая строка — 4, 6-l, 5 */
  .content__image4 {
    width: 82px !important;
    height: 120px !important;
    order: 4;
    margin: 0;
  }

  .content__image6-l {
    width: 160px !important;
    height: 120px !important;
    order: 5;
    display: block;
  }

  .content__image5 {
    width: 90px !important;
    height: 120px !important;
    order: 6;
    margin: 0;
  }

  /* Выключаем мобильные заменители 3 и 6 */
  .content__image3 {
    display: none;
  }
  .content__image6 {
    display: none;
  }
}
