.footer {
  background: #f5f3f0;
  color: #1c1b1a;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;

  &__container {
    width: 1280px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
  }

  /* Левая часть */
  &__about {
    width: 260px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: left;
  }

  &__logo {
    font-family: "GT Eesti Pro Display";
    font-weight: 400;
    font-size: 29px;
    line-height: 100%;
    margin: 0 0 15px 0;
  }

  &__desc {
    font-family: "GT Eesti Pro Display";
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 30px 0;
  }

  &__copy,
  &__owner {
    font-family: "GT Eesti Pro Display";
    font-weight: 100;
    font-size: 14px;
    line-height: 150%;
    color: rgba(28, 27, 26, 0.6);
    margin-bottom: 0;
    margin-top: 0;
  }

  /* Средняя часть */
  &__services {
    text-align: left;

    .footer__title {
      font-family: "GT Eesti Pro Display";
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 20px;
    }

    .footer__grid {
      display: flex;
      gap: 50px; /* между колонками */
    }

    .footer__col {
      display: flex;
      flex-direction: column;
      gap: 20px; /* между строками */

      a,
      p {
        font-family: "GT Eesti Pro Display";
        font-weight: 100;
        font-size: 16px;
        line-height: 150%;
        margin: 0;
        text-decoration: none;
        color: inherit;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: #c47fd9;
        }
      }
    }
  }

  /* Правая часть */
  &__contacts {
    text-align: left;

    .footer__title {
      font-family: "GT Eesti Pro Display";
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 20px;
    }

    .footer__contact-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;

      span {
        font-family: "GT Eesti Pro Display";
        font-weight: 100;
        font-size: 16px;
        line-height: 150%;
      }
    }

    .footer-jurisdiction {
      font-family: "GT Eesti Pro Display";
      font-weight: 100;
      font-size: 14px;
      line-height: 150%;
      color: #1c1b1a;
      text-decoration: underline;
      opacity: 50%;
    }
  }
  .footer__legal--mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;

    &__desc {
      margin: 0;
      font-size: 14px;
    }

    &__logo {
      font-size: 24px;
    }

    &__container {
      width: calc(100%);
      margin-left: 20px;
      flex-direction: column;
      gap: 60px;
    }

    &__about {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }

    &__grid {
      flex-direction: column;
      gap: 20px !important;
    }

    &__title {
      text-transform: uppercase;
      font-size: 16px !important;
    }

    .footer__copy,
    .footer__owner {
      order: 999; // отправляем в самый низ
      margin-top: 10px;
    }

    .footer__legal--mobile {
      display: block;
      margin-bottom: 30px;
    }

    .footer__legal--desktop {
      display: none;
    }
  }
}
