.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  z-index: 1000;
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 1;

  &--hidden {
    transform: translate(-50%, -100%);
    opacity: 0;
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
    background: #f5f3f0;
    margin-top: 20px;
    opacity: 0.8;
    border-radius: 30px;
    box-shadow: inset -3px -3px 4px rgba(0, 0, 0, 0.15),
      inset 4px 4px 4px rgba(255, 255, 255, 0.25);
    padding: 0 30px;
    box-sizing: border-box;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .header__logo a {
    font-family: "GT Eesti Pro Display";
    font-weight: 400;
    font-size: 26px;
    color: #1c1b1a;
    text-decoration: none;
  }

  .header__nav {
    display: flex;
    gap: 30px;
    align-items: center;

    a {
      font-family: "GT Eesti Pro Display";
      font-size: 14px;
      color: #1e1e1e;
      letter-spacing: 0.02em;
      text-decoration: none;
      transition: color 0.5s ease;

      &:hover {
        color: #c47fd9;
      }
    }
  }

  .header__button {
    font-family: "GT Eesti Pro Display";
    font-size: 14px;
    background: #c47fd9;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 22px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: background 0.5s ease !important;

    &:hover {
      background-color: #bad980;
    }
  }
}
