.home {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-color: #f5f3f0;
}

/* --- Lenis настройки --- */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* было visible — нужно hidden */
  height: auto;
  background-color: #f5f3f0;
}

html {
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-wrapper] {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.lenis.lenis-smooth [data-lenis-content] {
  will-change: transform;
}
