.inspiration {
  background-color: #f5f3f0;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 1280px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
    margin-top: 100px;
  }

  &__title {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    color: #1c1b1a;
    margin-left: 50px;
    margin-top: 0;
  }

  &__span {
    font-weight: 100;
  }

  &__line {
    width: 200px;
    height: 1px;
    background-color: #1c1b1a;
    margin-right: 50px;
    margin-top: 10px;
  }

  &__subtitle {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 150%;
    color: #1c1b1a;
  }

  &__text {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
    color: #1c1b1a;
    margin-bottom: 50px;
    margin-top: -60px;
    margin-right: 50px;
    text-align: right;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 50px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* весь блок прижат вправо */
    margin-right: 50px; /* совпадает с правым отступом контейнера */
    margin-bottom: 80px;
  }

  &__footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end; /* элементы внутри — вправо */
    gap: 10px;
  }

  &__footer-title {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
    color: #1c1b1a;
    margin: 0;
  }

  &__square {
    width: 20px;
    height: 20px;
    background-color: #1c1b1a;
    flex-shrink: 0;
  }

  &__footer-text {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
    color: #1c1b1a;
    opacity: 60%;
    margin: 0;
    text-align: right; /* текст выровнен вправо */
  }
}

@media (max-width: 768px) {
  .inspiration {
    &__container {
      width: 100%;
    }

    &__top {
      display: grid;
    }

    &__title {
      font-size: 20px;
      width: 100%;
      margin-left: 20px;
    }

    &__text {
      margin: -60px auto 50px 40px;
      text-align: left;
      font-size: 14px;
      width: calc(100% - 50px);
    }

    &__line {
      width: 1px;
      height: 50px;
      margin-left: 20px;
      margin-top: 0;
    }

    &__image {
      width: 100dvw;
    }

    &__footer {
      margin-right: 20px !important;
      margin-bottom: 150px;
    }

    &__footer-title {
      font-size: 14px;
    }

    &__footer-text {
      font-size: 12px;
    }

    &__square {
      width: 15px;
      height: 15px;
    }
  }
}
