.policy {
  background: #f5f3f0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #1c1b1a;

  &__container {
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  &__title {
    margin: 160px 0 20px;
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }

  &__date {
    margin: 0 0 30px;
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 150%;
    color: rgba(28, 27, 26, 0.7);
  }

  &__text {
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 150%;
    color: #1c1b1a;

    p {
      margin: 0 0 5px;
    }

    a {
      color: #c47fd9;
      text-decoration: underline;
      text-underline-offset: 2px;

      &:hover {
        color: #bad980;
      }
    }

    strong {
      font-weight: 100;
    }
  }
}

@media (max-width: 768px) {
  .policy {
    &__container {
      width: calc(100% - 40px);
      padding-bottom: 60px;
    }

    &__title {
      margin-top: 120px;
      font-size: 18px;
    }

    &__date {
      font-size: 13px;
    }

    &__text {
      font-size: 13px;
    }
  }
}
