.why {
  background-color: #f5f3f0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #1c1b1a;

  &__container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 120px;
    gap: 30px;
  }

  /* Левая часть */
  &__left {
    width: 575px;
    margin-left: 50px;
  }

  &__title {
    height: 96px;
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 100;
    font-size: 48px;
    line-height: 120%;
    margin-top: 120px;
    margin-bottom: 30px;
    color: #1c1b1a;

    .why__highlight {
      font-weight: 500;
    }
  }

  &__text {
    height: 229px;
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #1c1b1a;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__em {
    font-weight: 400;
    color: rgba(28, 27, 26, 0.5);
  }

  /* Правая часть (карточка с цитатой) */
  &__quote {
    margin-right: 50px;
    margin-top: 120px;
    width: 575px;
    height: 355px;
    background: #f5f3f0;
    border-radius: 20px;
    box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.5),
      inset -4px -4px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__quote-icon {
    position: absolute;
    width: 20px;
    height: 24px;
    object-fit: contain;

    &.open {
      top: 94px;
      left: 40px;
      color: #c47fd9;
    }

    &.close {
      bottom: 94px;
      right: 40px;
      color: #c47fd9;
    }
  }

  &__quote-text {
    width: 416px;
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #1c1b1a;
    text-align: left;
    margin: 0 auto 30px auto;

    .why__quote-highlight {
      color: #c47fd9;
    }
  }

  &__quote-author {
    width: 416px;
    font-family: "GT Eesti Pro Display", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1c1b1a;
    margin: 0 auto;
  }

  &__quote-role {
    font-weight: 400;
    color: rgba(28, 27, 26, 0.5);
  }
}

@media (max-width: 768px) {
  .why {
    display: none;
  }
}
